.swiper {
    width: 100%;
    border-radius: 20px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}